<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ityls.shoping_goods_service.mapper.GoodsMapper">
    <insert id="addGoodsSpecificationOption">
        INSERT INTO ml_goods_specification_option VALUES(#{gid},#{optionId})
    </insert>

    <delete id="deleteGoodsSpecificationOption" parameterType="long">
        DELETE FROM ml_goods_specification_option WHERE gid = #{gid}
    </delete>

    <update id="putAway">
        UPDATE ml_goods SET isMarketable = #{isMarketable} WHERE id = #{id}
    </update>
    <resultMap id="goodsMapper" type="com.ityls.shoping_common.pojo.Goods">
        <id property="id" column="bid"></id>
        <result property="goodsName" column="goodsName"></result>
        <result property="caption" column="caption"></result>
        <result property="price" column="price"></result>
        <result property="headerPic" column="headerPic"></result>
        <result property="isMarketable" column="isMarketable"></result>
        <result property="brandId" column="brandId"></result>
        <result property="productType1Id" column="productType1Id"></result>
        <result property="productType2Id" column="productType2Id"></result>
        <result property="productType3Id" column="productType3Id"></result>
        <result property="introduction" column="introduction"></result>
        <collection property="images" column="bid" ofType="com.ityls.shoping_common.pojo.GoodsImage">
            <id property="id" column="imageId"></id>
            <result property="imageTitle" column="imageTitle"></result>
            <result property="imageUrl" column="imageUrl"></result>
        </collection>
        <collection property="specifications" column="bid" ofType="com.ityls.shoping_common.pojo.Specification">
            <id property="id" column="specificationId"></id>
            <result property="specName" column="specName"></result>
            <result property="productTypeId" column="productTypeId"></result>
            <collection property="specificationOptions" column="specificationId" ofType="com.ityls.shoping_common.pojo.SpecificationOption">
                <id property="id" column="optionId"></id>
                <result property="optionName" column="optionName"></result>
            </collection>
        </collection>
    </resultMap>


    <select id="findById" resultMap="goodsMapper">
        SELECT
            ml_goods.`id` bid,
            ml_goods.`goodsName` goodsName,
            ml_goods.`caption` caption,
            ml_goods.`price` price,
            ml_goods.`headerPic` headerPic,
            ml_goods.`introduction` introduction,
            ml_goods.`isMarketable` isMarketable,
            ml_goods.`brandId` brandId,
            ml_goods.`productType1Id` productType1Id,
            ml_goods.`productType2Id` productType2Id,
            ml_goods.`productType3Id` productType3Id,
            ml_goods_image.`id` imageId,
            ml_goods_image.`imageTitle` imageTitle,
            ml_goods_image.`imageUrl` imageUrl,
            ml_specification.`id` specificationId,
            ml_specification.`specName` specName,
            ml_specification.`productTypeId` productTypeId,
            ml_specification_option.`id` optionId,
            ml_specification_option.`optionName` optionName
        FROM
            ml_goods,
            ml_goods_specification_option,
            ml_specification_option,
            ml_specification,
            ml_goods_image
        WHERE ml_goods.`id` = ml_goods_specification_option.`gid`
          AND ml_goods_specification_option.`optionId` = ml_specification_option.`id`
          AND ml_specification.`id` = ml_specification_option.`specId`
          AND ml_goods.`id` = ml_goods_image.`goodsId`
          AND ml_goods.id = #{gid}
    </select>
</mapper>