<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ityls.shoping_goods_service.mapper.SpecificationMapper">
    <resultMap id="specificationMapper" type="com.ityls.shoping_common.pojo.Specification">
        <id property="id" column="bid"></id>
        <result property="specName" column="specName"></result>
        <result property="productTypeId" column="productTypeId"></result>
        <collection property="specificationOptions" column="specId" ofType="com.ityls.shoping_common.pojo.SpecificationOption">
            <id property="id" column="oid"></id>
            <result property="optionName" column="optionName"></result>
            <result property="specId" column="specId"></result>
        </collection>
    </resultMap>
    <select id="findById" parameterType="long" resultMap="specificationMapper">
        SELECT
            ml_specification.id AS bid,
            ml_specification.specName,
            ml_specification.productTypeId,
            ml_specification_option.id AS oid,
            ml_specification_option.optionName,
            ml_specification_option.specId
        FROM ml_specification
                 LEFT JOIN ml_specification_option
                           on ml_specification.id = ml_specification_option.specId
        where ml_specification.id = #{id}
    </select>


    <select id="findByProductTypeId" parameterType="long" resultMap="specificationMapper">
        SELECT
            ml_specification.id AS bid,
            ml_specification.specName,
            ml_specification.productTypeId,
            ml_specification_option.id AS oid,
            ml_specification_option.optionName,
            ml_specification_option.specId
        FROM ml_specification
                 LEFT JOIN ml_specification_option
                           on ml_specification.id = ml_specification_option.specId
        where ml_specification.productTypeId = #{productTypeId}
    </select>
</mapper>